extends layout

// We extend from layout jade template and define only the content in index jade template to keep the templates modularized.
block content
  h1 Members Area
  p Welcome to the members area
